@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
:root {
  --btn-bg-color: #202020;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* main wrapper */
#main_wrapper {
  max-width: 85%;
  margin: 0 auto;
}

/* header */
header,
#nav_links {
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
}

#logo {
  font-weight: bold;
}

#jarjer {
  font-size: 36px;
  display: block;
}

#foodDelivery {
  font-size: 18px;
}

#nav_links #cart_icon_cont {
  margin-right: 40px;
}

#nav_links span img {
  width: 36px;
}

.generic_btn {
  padding: 18px 15px;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: var(--btn-bg-color);
  color: white;
  border-bottom-left-radius: 38%;
  border-bottom-right-radius: 20%;
  border-top-right-radius: 38%;
  border-top-left-radius: 20%;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  header {
    display: none;
  }
}

/* main */
main {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

#main_left {
  flex: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#main_right {
  flex: 50%;
}

#address_search_cont {
  padding: 10px 0;
}

#search_tag {
  padding: 18px 45px;
  font-weight: bold;
  letter-spacing: 2px;
  border: 1px solid grey;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 12%;
  border-top-right-radius: 20%;
  border-top-left-radius: 12%;
}

#popular_cat_cont {
  padding: 10px 0;
}

.categories_cont {
  background-color: lightgray;
  margin-top: 10px;
  text-align: center;
  width: 100px;
  font-weight: bold;
  padding: 20px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  margin-right: 10px;
}

.categories_img_cont img {
  width: 100%;
  object-fit: contain;
}

#categories {
  display: flex;
}

#preorders_cont {
  display: flex;
}

.preorder_cont {
  margin-right: 10px;
}

.preorder_img_cont {
  width: 250px;
}

.preorder_img_cont img {
  width: 100%;
  object-fit: contain;
}
